body{
    background-color: #10002B;
}

nav{
    position:fixed;
    left:0px;
    top:0px;
    height:30px;
    width:100%;
    background-color: #240046;
    border-radius: 5px;
    text-align: center;
}

h1{
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    margin: 0px;
    color: #E0AAFF;
}

.primerdiv{
    background-color: #240046;
    border-radius: 5px;
    position: fixed;
    right: 80px;
    left: 80px;
    top: 80px;
    bottom: 80px;

}

input{
    color: #E0AAFF;
    text-align: end;
    background-color: #5A189A;
    position: fixed;
    width: 80%;
    height: 10%;
    left: 140px;
    right: 140px;
    top: 100px;
    bottom: 100px;
    font-family: serif;
    font-size: large;
    font-weight: bold;

    outline: none;
    border: 0;
    border-radius: 5px;
}

.segundodiv{
    background-color: #5A189A;
    position: fixed;
    width: 80%;
    height: 50%;
    left: 140px;
    right: 140px;
    top: 200px;
    bottom: 160px;

    border: hidden;
    border-radius: 5px;
}

.n1{
    background-color: #9D4EDD;
    border-radius: 5px;
    border: hidden;
    margin: 4px;
    position: relative;
    width: 20%;
    height: 15%;
    top: 20px;
    bottom: 40px;
    left: 90px;
    right: 10px;
}

.n2{
    color: #3C096C;
    text-align: center;
    font-family: serif;
    font-size: large;
    font-weight: bold;
}

.n3{
    color: #E0AAFF;
    text-align: center;
    font-family: serif;
    font-size: large;
    font-weight: bold;
}


footer{
    
    background-color: #240046;
    border-radius: 5px;
    text-align: center;
    border-color: darkgray;
    font-size: x-large;
    font-family: serif;

    /*Aqui va la configuracion para pegar abajo*/

    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    
}

.footer{
    color: #E0AAFF;
    position: relative;
    bottom: 25px;
    font-family: serif;
    font-weight: bold;
}

.n1:focus:hover:active{
    background-color: #C77DFF;
}


